<h3>Add Book</h3>
<form class="form-horizontal" role="form">
<div class="form-group">
<label for="bookTitle">Title</label>
<div>
<input ng-model="bookAdder.newBook.title" type="text" id="bookTitle" placeholder="Title">
</div>
</div>
<div class="form-group">
<label for="bookAuthor">Author</label>
<div>
<input ng-model="bookAdder.newBook.author" type="text" id="bookAuthor" placeholder="Author">
</div>
</div>
<div class="form-group">
<label for="bookPublished">Year</label>
<div>
<input ng-model="bookAdder.newBook.year_published" type="text" id="bookPublished" placeholder="Year Published">
</div>
</div>
<div class="form-group">
<div>
<button ng-click="bookAdder.addBook()">Save</button>
</div>
</div>
</form>
